<div class="container">
  <div class="admin-login">
    <div class="admin-logo">
      <img src="assets/images/mainImg.png">

    </div>

    <div class="mt-1">
      <div class="sm-12">
        <div class="admin-sign-in-form">
          <h1>Real Estate Investing Information<br><span> That Matters to You</span> </h1>

          <p>Limited to the San Francisco Bay Area --JOIN OUR BETA!</p>
        </div>
        <div class="form-group  forgot-pass " style="margin-top: 40px;">
          <button type="button" class="btn btn-outline-danger" (click)="gotoCheckout()">SIGN UP WITH
            LINKEDIN</button><br>
          <input class="btn " type="submit" value="SIGN IN">
        </div>

      </div>
    </div>
  </div>
</div>